app-map {
  display: block;
  position: relative;
  height: 600px;
  width: 600px;
}

.map {
  position: absolute;
  height: 600px;
  width: 600px;
}

.map-container {
  position: relative;
  height: 600px;
  width: 600px;
}
