.map {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
}

app-map-toolbar {
  width: 90%;
  height: auto;
  margin: 2px auto 2px auto;  
  display: block;
}

mat-sidenav-container {
  width: 90%;
  height: 80%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: auto;
}


mat-sidenav {
  width:25%;
}
