<h1 i18n></h1>
<app-map-toolbar (onCountryChanged)="countryChanged($event)" (onProviderChanged)="providerChanged($event)" (onClearMapClicked)="clearMap()"
  (onDrawRoutesClicked)="drawRoutes()" [isLoading]="isLoading">
</app-map-toolbar>
<md-sidenav-container>
  <md-sidenav mode="side" [opened]='currentCountry' #sidenav>
    <button md-icon-button class="example-fab" (click)="sidenav.toggle()">
          <md-icon>add</md-icon>
    </button>
    <app-hospital-list (hospitalsLoading)="hospitalsLoading($event)" (hospitalClicked)="hospitalClicked($event)" [country]='currentCountry'>
    </app-hospital-list>
  </md-sidenav>
  <div *ngFor="let provider of providers" class="map" [style.zIndex]="(provider == currentProvider) ? '1' : '-1'" #map>
  </div>
</md-sidenav-container>
