<span [hidden]='!loading'>
      <md-spinner strokeWidth='10'></md-spinner> Loading hospitals
</span>

<div [hidden]='loading'>
  <div>
    <md-icon>face</md-icon> Showing {{registeredInView}} of {{registered}}
  </div>
  <div>
    <md-icon>verified_user</md-icon> Showing {{strokeCentersInView}} of {{strokeCenters}}
  </div>
  <div>
    <md-icon>face</md-icon>
    <md-icon>add</md-icon>
    <md-icon>verified_user</md-icon> Showing {{registeredStrokeCentersInView}} of {{registeredStrokeCenters}}
  </div>
  <div>
    Showing {{visible}} of {{_data ? _data.length : 0}}
  </div>
  <div>
    <md-progress-bar [value]='_progress'>
    </md-progress-bar>
  </div>
  <md-list>
    <md-list-item *ngFor='let hospital of hospitals | async' [style.display]='hospital.visible ? "Inherit" : "none"'>
      <md-button-toggle [checked]='hospital.visible'>
        <md-icon *ngIf='hospital.strokeCenter'>verified_user</md-icon>
        <md-icon *ngIf='hospital.representative'>face</md-icon>
        {{hospital.name}}
      </md-button-toggle>
    </md-list-item>
  </md-list>
</div>
