app-hospital {
    width:100%;
}

md-spinner {
    height: 1em;
    display: inline-block;
    margin-right: -2em;
    margin-left: -2em;
    
  }
  
  md-list-item {
    display: inline-block;    
  }