:host {
    display : block;
    background-color: #abc123;
    border: 1px solid black;
}

h1 {
    font-size: 4em;
    background-color: transparent;
}

div {
    background-color: transparent;    
}

