<md-card>
  <md-card-title>
    <md-icon *ngIf='hospital?.strokeReady'>verified_user</md-icon>
    <md-icon *ngIf='hospital?.representative'>face</md-icon>
    {{hospital?.name}}
  </md-card-title>
  <md-card-subtitle>
    {{hospital?.address}}
  </md-card-subtitle>
  <md-card-subtitle *ngIf='hospital?.representative'>
    Rep: {{hospital?.representative}}
  </md-card-subtitle>

  <md-card-actions>
    <md-button-toggle (change)='toggleRoutes($event)' [checked]='on'>
      <md-icon>create</md-icon>
      Show routes
    </md-button-toggle>
    <md-button-toggle (change)='toggleTreatingNoAngels($event)' [checked]='hospital?.treatingNoAngels'>
      <md-icon>create</md-icon>
      Treating/No Angels
    </md-button-toggle>
    <md-button-toggle (change)='toggleStrokeReady($event)' [checked]='hospital?.strokeReady'>
      <md-icon>create</md-icon>
      Stroke Ready
    </md-button-toggle>
    <md-button-toggle (change)='toggleConsulting($event)' [checked]='hospital?.consulting'>
      <md-icon>create</md-icon>
      Consulting
    </md-button-toggle>
  </md-card-actions>
</md-card>
