<mat-card>
  <mat-card-title>
    <mat-icon *ngIf='hospital?.registered'>verified_user</mat-icon>
    <mat-icon *ngIf='hospital?.representative'>face</mat-icon>
    {{hospital?.name}}
  </mat-card-title>
  <mat-card-subtitle>
    {{hospital?.address}}
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf='hospital?.representative'>
    Rep: {{hospital?.representative}}
  </mat-card-subtitle>

  <mat-card-actions>
    <mat-button-toggle (change)='toggleRoutes($event)' [checked]='on'>
      <mat-icon>create</mat-icon>
      Show routes
    </mat-button-toggle>
    <mat-button-toggle *ngIf='!hospital?.registered' (change)='toggleTreatingNoAngels($event)' [checked]='hospital?.treatingNoAngels'>
      <mat-icon>create</mat-icon>
      Treating/No Angels
    </mat-button-toggle>
    <mat-button-toggle *ngIf='!hospital?.registered' (change)='toggleFutureTarget($event)' [checked]='hospital?.futureTarget'>
      <mat-icon>create</mat-icon>
      Future targets
    </mat-button-toggle>
  </mat-card-actions>
</mat-card>
